---
---

<div class="appbar">
  <img
    class="h-9 mr-3"
    src="https://de.superteam.fun/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fa17e8caf-6cab-4dbd-a14a-4363084656c6%2Fimages%2Fde9420eb-d2f3-43e3-97c5-a074530a583e.png&w=2048&q=80"
  />
  <div>Glassy Hours</div>
</div>

<style>
  .appbar {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    @apply w-60 h-14 pl-3 fixed top-4 left-5 flex flex-row items-center justify-start bg-black border-2 border-primary/50 rounded-2xl text-xl font-medium font-heading;
  }
</style>
